.header{
    grid-area: h;
    height: 42px;
    box-sizing: border-box;
    background-color: #4a76a8;
    padding: 5px;
 }
.logo{
    font-family: OpenSans;
    color: white;
    font-size: 23px;
    margin: auto;
    max-width: 1000px;
}