.currentDialogContainer{
display: flex;
margin-left: 20px;
padding-bottom: 10px;
}
.personalize img{
border-radius: 50% 50%;
}
.message{
margin-left: 10px; 
}
.message p{
    color: #2a5885;
    font-size: 18px;
    margin-bottom: 5px;
}