.navItem{
    display: flex;
    padding: 6px;
  }
  .navItem i{
    color: #8fadc8;
    margin-right: 15px;
  }
  .navItem:hover{
    background: #dce1e6;
    cursor: pointer;
  }
  .navItem a{
    color: #2a5885;
    text-decoration: none;
  }
/*   a{
    text-decoration: none;
    color: #2a5885;
  } */
.navItem .a.active{
  color: #255686;
}